@font-face {
	font-family: Oxygen-Regular;
  	src:url(Oxygen-Regular.ttf);
  	font-weight: normal;
  	font-style: normal;
}
head{
	margin: 0 15%;
}
body {
  	font-family: Arial, Helvetica, sans-serif;
  	margin: 0 15%;
  	height: 100vh;  /* set height to full viewport height */
  	overflow: auto; /* added to enable scrolling */
}

p{
  	font-family:"Fira Sans", sans-serif, serif;
}

.logo1{
	fill:SteelBlue;
	fill-opacity:25%;
	width:150px;
	height:150px;
}

.logo1:hover path{
	fill:red;
}
.logo1:active path{
	fill:lightblue;
}

nav a{
	color:red;
    padding: 5px;
    border-radius: 15px 50px;  
}
nav a:link {
    color:LightBlue;
}
nav a:visited {
    color:Indigo;
}
nav a:hover{
	color: #007bff;
}
nav a:active {
    color:Plum;
}
