@font-face {
	font-family: Oxygen-Regular;
  	src:url(Oxygen-Regular.ttf);
  	font-weight: normal;
  	font-style: normal;
}
head{
	margin: 0 15%;
}
body {
  	font-family: Arial, Helvetica, sans-serif;
  	margin: 0 15%;
  	height: 100vh;  /* set height to full viewport height */
  	overflow: auto; /* added to enable scrolling */
}

p{
  	font-family:"Fira Sans", sans-serif, serif;
}

.logo{
	filter: drop-shadow(16px 16px 20px red) invert(75%);
	width:150px;
	height:150px;
}
.logo a:hover{
	filter:blur(5px);
}
.logo a:active{
	filter:invert(83%) sepia(47%) saturate(5862%) hue-rotate(6deg) brightness(108%) contrast(111%);
}

nav a{
	color:red;
    padding: 5px;
    border-radius: 15px 50px;  
}
nav a:link {
    color:LightBlue;
}
nav a:visited {
    color:Indigo;
}
nav a:hover{
	color: #007bff;
}
nav a:active {
    color:Plum;
}
